.vsc_whitelight h1.title {
    font-family: EnigmaticRegular;
    font-size: 24pt;
    color: #B1B1B1;
    font-weight: bold;
    overflow: visible;
    line-height: normal;
}
.vsc_whitelight #block-admin-links {
    font-size: 7pt;
}