html body.admin-menu {
 margin-top: 0 !important;
 overflow: visible;
}
div#admin-menu,
div#admin-menu div,
#admin-menu ul a {
 overflow: visible;
 font-family: Helvetica, Arial ;
 font-size: 10px;
 padding: 2px 4px;
}
html body.admin-menu #page-inner {
 padding-top: 20px;

}
/*+clearfix {*/
.vsc_whitelight ul#navlist:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.vsc_whitelight ul#navlist {
    display: inline-block;
}
.vsc_whitelight ul#navlist {
/*\*/
    display: block;
/**/
    -height: 1px;
}
/*+}*/
.vsc_whitelight div {
    overflow: hidden;
}
.vsc_whitelight div#admin-toolbar {
    overflow: visible;
    width: 1px;
}
.vsc_whitelight .full-width {
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}
.vsc_whitelight ul.inline {
    display: block;
    margin: 8px 0px 11px;
    padding: 0px;
    position: relative;
    text-align: right;
}
.vsc_whitelight ul.inline li {
    position: relative;
    display: inline;
    margin: 0px 5px 0px 0px;
    padding: 0px;
}
/*[clearfix]*/.vsc_whitelight ul#navlist {
    position: static;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.vsc_whitelight ul#navlist li {
    display: inline;
    font-size: 100%;
    float: none;
    padding: 5px;
    margin: 0px -2px 0px 0px;
}
.vsc_whitelight ul#navlist a {
    display: inline;
    float: none;
}
body.vsc_whitelight {
    background-color: #FFFFFF;
    color: #B4B4B4;
    font-size: 12px;
    font-family: "Trebuchet MS", "Times New Roman", serif;
    background-repeat: repeat-x;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}
.vsc_whitelight div {
    overflow: hidden;
}
.vsc_whitelight #header-wrapper {
    background-image: url(../images/bg-header-wrapper.png);
    background-position: bottom center;
    background-repeat: repeat-x;
    background-color: #EEF4F8;
}
.vsc_whitelight #container-wrapper {
    background-image: url(../images/bg-container-wrapper.png);
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #FFFFFF;
    padding-top: 20px;
}
.vsc_whitelight div#admin-toolbar {
    overflow: visible;
    width: 1px;
}
.vsc_whitelight .admin .left,
.vsc_whitelight .admin .right {
    float: none;
    width: 100%;
}
.vsc_whitelight h3 {
    text-decoration: none;
    font-size: 12.2pt;
    color: #80691B;
}
body.admin-toolbar.vsc_whitelight {
    background-position: 0px 20px;
}
body.admin-toolbar.vsc_whitelight #page {
    margin-top: 20px;
}
.vsc_whitelight #feed-icons {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.vsc_whitelight a.feed-icon {
    display: block;
    position: relative;
    height: 48px;
    width: 48px;
    background-image: url(../images/feed-icon_grey-48px.png);
    background-repeat: no-repeat;
}
.vsc_whitelight input {
    background-color: #EEF4F8;
    border: 0px solid #000000;
    color: #100E0E;
}
.vsc_whitelight .resizable-textarea .grippie {
    background-color: #6F6F6F;
    border: 1px solid #212100;
}
.vsc_whitelight textarea {
    background-color: #D6D6D6;
    background-image: url(../images/bg-block.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    color: #999999;
    border: 1px solid #363636;
}
.vsc_whitelight fieldset {
    border-color: #191919;
    -moz-border-radius: 5px;
}
.vsc_whitelight .block-region {
    background-color: #560000;
}
.vsc_whitelight ul li a.active {
    color: #9ABFD7;
    border-bottom-color: #C9C9C9;
}
.vsc_whitelight select {
    background-color: transparent;
    border: 0px solid #555555;
    color: #606060;
}
.vsc_whitelight .handle {
    margin-left: 8px;
}
.vsc_whitelight #admin-toolbar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.vsc_whitelight #header {
    height: 140px;
}
.vsc_whitelight input.form-submit {
    background-color: #FAFAFA;
    border: 1px solid #9ABFD7;
    color: #666666;
    margin-bottom: 10px;
    padding: 7px;
    cursor: pointer;
}
.vsc_whitelight a {
    color: #BBBBBB;
    text-decoration: none;
    border-bottom: 1px solid #B4B4B4;
}
.vsc_whitelight a.active {
    color: #CDCDCD;
    text-decoration: none;
}
.vsc_whitelight a:hover {
    color: #E4E4E4;
}
.vsc_whitelight h2.teaser-title a {
    color: #B5A400;
    text-decoration: none;
}
/*
** HTML elements
*/
body.drag {
    cursor: move;
}
.vsc_whitelight th.active img {
    display: inline;
}
.vsc_whitelight tr.even,
.vsc_whitelight tr.odd {
    background-color: #EEE;
    border-bottom: 1px solid #EEF;
    padding: 180px;
}
.vsc_whitelight tr.drag {
    background-color: #FFFFF0;
}
.vsc_whitelight tr.drag-previous {
    background-color: #FFD;
}
.vsc_whitelight td.active {
    background-color: #DDD;
}
.vsc_whitelight td.checkbox,
th.checkbox {
    text-align: center;
}
.vsc_whitelight table {
    width: 100%;
}
.vsc_whitelight tbody {
    border-top: 1px solid #CCC;
}
.vsc_whitelight tbody th {
    border-bottom: 1px solid #CCC;
}
.vsc_whitelight thead th {
    text-align: left;
/*LTR*/
    padding-right: 1em;
/*LTR*/
    border-bottom: 3px solid #CCC;
}
.vsc_whitelight thead th {
    border-color: #E7E7E7;
}
/*
** Other common styles
*/
.vsc_whitelight .breadcrumb {
    padding-bottom: 0.5em;
}
.vsc_whitelight div.indentation {
    width: 20px;
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em;
/*LTR*/
    padding: 0.42em 0 0.42em 0.6em;
/*LTR*/
    float: left;
/*LTR*/
}
.vsc_whitelight div.tree-child {
    background: url(../../misc/tree.png) no-repeat 11px center;
/*LTR*/
}
.vsc_whitelight div.tree-child-last {
    background: url(../../misc/tree-bottom.png) no-repeat 11px center;
/*LTR*/
}
.vsc_whitelight div.tree-child-horizontal {
    background: url(../../misc/tree.png) no-repeat -11px center;
}
.vsc_whitelight .error {
    color: #E55;
}
.vsc_whitelight div.error {
    border: 1px solid #D77;
}
.vsc_whitelight div.error,
.vsc_whitelight tr.error {
    background: #FCC;
    color: #200;
    padding: 2px;
}
.vsc_whitelight .warning {
    color: #E09010;
}
.vsc_whitelight div.warning {
    border: 1px solid #F0C020;
}
.vsc_whitelight div.warning,
.vsc_whitelight tr.warning {
    background: #FFD;
    color: #220;
    padding: 2px;
}
.vsc_whitelight .ok {
    color: #008000;
}
.vsc_whitelight div.ok {
    border: 1px solid #00AA00;
}
.vsc_whitelight div.ok,
.vsc_whitelight tr.ok {
    background: #DFD;
    color: #020;
    padding: 2px;
}
.vsc_whitelight .item-list .icon {
    color: #555;
    float: right;
/*LTR*/
    padding-left: 0.25em;
/*LTR*/
    clear: right;
/*LTR*/
}
.vsc_whitelight .item-list .title {
    font-weight: bold;
}
.vsc_whitelight .item-list ul {
    margin: 0 0 0.75em;
    padding: 0;
}
.vsc_whitelight #user-login-form ul {
    text-align: left;
    font-size: 7.3pt;
}
.vsc_whitelight #footer {
    /*[empty]margin-top:;*/
}
.vsc_whitelight ol.task-list li.active {
    font-weight: bold;
}
.vsc_whitelight .form-item {
    margin-top: 1em;
    margin-bottom: 1em;
}
.vsc_whitelight input.form-text {
    /*[empty]background-image:;*/
    background-position: bottom right;
    border: 1px solid #E7E7E7;
    color: #9ABFD7;
    background-color: transparent;
}
.vsc_whitelight #header #search {
    /*+placement:anchor-top-right 0px 0px;*/
    position: absolute;
    right: 0px;
    top: 0px;
}
.vsc_whitelight tr.odd .form-item,
.vsc_whitelight tr.even .form-item {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}
.vsc_whitelight tr.odd {
    background-color: #EEF4F8;
}
.vsc_whitelight table tr td {
    vertical-align: top;
}
.vsc_whitelight tr.merge-down,
.vsc_whitelight tr.merge-down td,
.vsc_whitelight tr.merge-down th {
    border-bottom-width: 0 !important;
}
.vsc_whitelight .screenshot {
    padding: 5px;
}
.vsc_whitelight tr.merge-up,
.vsc_whitelight tr.merge-up td,
.vsc_whitelight tr.merge-up th {
    border-top-width: 0 !important;
}
.vsc_whitelight .form-item input.error,
.vsc_whitelight .form-item textarea.error,
.vsc_whitelight .form-item select.error {
    border: 2px solid #FF0000;
}
.vsc_whitelight .form-item .description {
    font-size: 0.85em;
}
.vsc_whitelight .form-item label {
    display: block;
    font-weight: bold;
}
.vsc_whitelight div.block {
    background-image: url(../images/bg-block.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 8px;
    border: 1px solid #E7E7E7;
    outline: 1px solid #CECECE;
    -moz-border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 12px;
}
.vsc_whitelight tr.even {
    background-color: #FFFFF0;
}
.vsc_whitelight #footer-content {
    text-align: center;
}
.vsc_whitelight .form-item label.option {
    display: inline;
    font-weight: normal;
}
.vsc_whitelight .form-checkboxes,
.vsc_whitelight .form-radios {
    margin: 1em 0;
}
.vsc_whitelight .form-checkboxes .form-item,
.vsc_whitelight .form-radios .form-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
.vsc_whitelight .marker,
.vsc_whitelight .form-required {
    color: #F00;
}
.vsc_whitelight .more-link {
    text-align: right;
/*LTR*/
}
.vsc_whitelight .more-help-link {
    font-size: 0.85em;
    text-align: right;
/*LTR*/
}
.vsc_whitelight .nowrap {
    white-space: nowrap;
}
.vsc_whitelight .item-list .pager {
    clear: both;
    text-align: center;
}
.vsc_whitelight .item-list .pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
}
.vsc_whitelight .pager-current {
    font-weight: bold;
}
.vsc_whitelight .tips {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.9em;
}
.vsc_whitelight dl.multiselect dd.b,
.vsc_whitelight dl.multiselect dd.b .form-item,
.vsc_whitelight dl.multiselect dd.b select {
    font-family: inherit;
    font-size: inherit;
    width: 14em;
}
.vsc_whitelight dl.multiselect dd.a,
.vsc_whitelight dl.multiselect dd.a .form-item {
    width: 8em;
}
.vsc_whitelight dl.multiselect dt,
.vsc_whitelight dl.multiselect dd {
    float: left;
/*LTR*/
    line-height: 1.75em;
    padding: 0;
    margin: 0 1em 0 0;
/*LTR*/
}
.vsc_whitelight dl.multiselect .form-item {
    height: 1.75em;
    margin: 0;
}
/*
** Inline items (need to override above)
*/
.vsc_whitelight .container-inline div,
.vsc_whitelight .container-inline label {
    display: inline;
}
/*
** Tab navigation
*/
.vsc_whitelight ul.primary {
    border-collapse: collapse;
    padding: 0 0 0 1em;
/*LTR*/
    white-space: nowrap;
    list-style: none;
    margin: 5px;
    height: auto;
    line-height: normal;
    border-bottom: 1px solid #9BD;
}
.vsc_whitelight ul.primary li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}
.vsc_whitelight ul.primary li a {
    background-color: #FFE;
    border-color: #666;
    border-width: 1px;
    border-style: solid solid none;
    height: auto;
    margin-right: 0.5em;
/*LTR*/
    padding: 0 1em;
    text-decoration: none;
    color: #606060;
}
.vsc_whitelight ul.primary li.active a {
    background-color: #DDD;
    border: 1px solid #999;
    border-bottom: 1px solid #FFF;
    font-weight: bold;
    text-transform: uppercase;
}
.vsc_whitelight ul.primary li a:hover {
    background-color: #FFF;
    border-color: #EEE;
    border-bottom-color: #FFE;
    color: #EEEEFF;
}
.vsc_whitelight ul.secondary {
    border-bottom: 1px solid #444;
    padding: 0.5em 1em;
    margin: 5px;
}
.vsc_whitelight ul.secondary li {
    display: inline;
    padding: 0 1em;
    border-right: 1px solid #444;
/*LTR*/
}
.vsc_whitelight ul.secondary li.active {
    color: #EFEFEF;
}
.vsc_whitelight ul.secondary a {
    padding: 0;
    text-decoration: none;
}
/*
** Autocomplete styles

Suggestion list*/
.vsc_whitelight #autocomplete {
    position: absolute;
    border: 1px solid #BEBEBE;
    overflow: hidden;
    z-index: 100;
}
.vsc_whitelight #autocomplete ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.vsc_whitelight #autocomplete li {
    background: #FFF;
    color: #000;
    white-space: pre;
    cursor: default;
}
.vsc_whitelight #autocomplete li.selected {
    background: #0072B9;
    color: #FFF;
}
.vsc_whitelight .progress .bar {
    background: #FFF url(../../misc/progress.gif);
    border: 1px solid #00375A;
    height: 1.5em;
    margin: 0 0.2em;
}
.vsc_whitelight .progress .filled {
    background: #0072B9;
    height: 1em;
    border-bottom: 0.5em solid #004A73;
    width: 0%;
}
.vsc_whitelight .progress .percentage {
    float: right;
/*LTR*/
}
.vsc_whitelight .progress-disabled {
    float: left;
/*LTR*/
}
.vsc_whitelight .ahah-progress {
    float: left;
/*LTR*/
}
/*Image Gallery*/
.vsc_whitelight ul.galleries li {
    position: relative;
    background-image: url(../images/bg-block.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: 1em;
}
.vsc_whitelight .view .image-gallery-terms li {
    background: transparent url(../images/bg-block.png) no-repeat bottom right;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #000000;
    outline: 1px solid #1D1D1D;
    -moz-border-radius: 5px;
}
.vsc_whitelight #primary-links {
    background: #FAFAFA url(../images/bg-block.png) no-repeat bottom right;
    margin: 10px 0 10px 10px;
    padding: 0;
    border: 1px solid #FFFFFF;
    outline: 1px solid #E6E6E6;
    -moz-border-radius: 5px;
}
.vsc_whitelight #block-admin-links {
    margin-top: 15px;
}
